<template>
  <v-card @click="click" :color="color">
    <v-img :src="game.image" height="150px">image goes here</v-img>
    <v-card-title primary-title class="headline mb-0">{{ game.title }}</v-card-title>
    <v-card-text>{{ game.description }}</v-card-text>
  </v-card>
</template>
<script>
  import {mapState, mapMutations, mapGetters} from 'vuex'

  export default {
    props: {
      game: {type: Object, required: true},
      color: {type: String, required: false, 'default': 'grey darken-3'},
    },

    computed: {
      ...mapState(['group']),
    },

    methods: {
      click() {
        if (this.group.id) {
          this.$router.push({name: 'play', params: {game: this.game.name}})
        } else {
          this.$router.push({name: 'groupStart'})
        }
      }
    },
  }
</script>
