<template>
  <v-toolbar app color="primary" v-if="show">
    <v-icon medium color="secondary">videogame_asset</v-icon>
    <v-toolbar-title>GamePad</v-toolbar-title>
    <v-spacer></v-spacer>

    <h6 v-if="group.id" class="title">
      <span class="subheading light-blue--text text--lighten-4">Group</span>
      #{{ group.id }}
    </h6>
  </v-toolbar>
</template>

<script>
  import {mapState, mapGetters} from 'vuex'

  export default {
    data() {
      return {}
    },

    computed: {
      ...mapState(['group']),

      show() {
        return this.$route.name !== 'controller' && this.$route.name !== 'play'
      },
    },

    methods: {},
  }
</script>
