<template>
  <div>

    <v-list v-if="players">
      <v-list-tile v-for="player in players" :key="player.channelName">
        <v-list-tile-avatar>
          <v-icon :color="player.color">mood</v-icon>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title v-html="player.name"></v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <h4 class="display-1 pa-3" v-else>No players yet :(</h4>
  </div>
</template>
<script>
  import {mapState, mapMutations, mapGetters} from 'vuex'

  export default {
    computed: {
      ...mapState(['host']),

      players() {
        return Object.values(this.host.players)
      },
    },

    methods: {
      ...mapMutations([]),
    },
  }
</script>
