<template>
  <svg ref="svg" width="100%" height="100%">
    <g :transform="moduleTransform">

      <g v-for="button in buttons"
         @click="keyPressed(button.text)"
         @mousedown="keyDown(button.text)"
         @mouseup="keyUp(button.text)"
         @mouseleave="keyUp(button.text)"
         @touchstart="keyDown(button.text)"
         @touchend="keyUp(button.text)">
        <circle :cx="button.x" :cy="button.y" r="18" :fill="button.color"/>
        <text :x="button.x" :y="button.y" text-anchor="middle" dominant-baseline="middle">{{ button.text | upper }}</text>
      </g>

    </g>
  </svg>
</template>
<script>
  import ModuleSVG from "../../mixins/ModuleSVG";

  export default {
    mixins: [ModuleSVG],

    data() {
      return {
        buttons: [
          {text: 'x', x: 20, y: 50, color: '#2196F3'},
          {text: 'y', x: 50, y: 20, color: '#FF9800'},
          {text: 'a', x: 50, y: 80, color: '#4CAF50'},
          {text: 'b', x: 80, y: 50, color: '#F44336'},
        ],
      }
    },
  }
</script>
