<template>
  <svg ref="svg" width="100%" height="100%">
    <g :transform="moduleTransform">
      <rect x="0" y="40" height="20" width="20" fill="red"
            @click="keyPressed('left')"
            @mousedown="keyDown('left')"
            @mouseup="keyUp('left')"
            @mouseleave="keyUp('left')"
              @touchstart="keyDown('left')"
              @touchcancel="keyUp('left')"/>
      <rect x="40" y="0" height="20" width="20" fill="red"
            @click="keyPressed('up')"
            @mousedown="keyDown('up')"
            @mouseup="keyUp('up')"
            @mouseleave="keyUp('up')"
              @touchstart="keyDown('up')"
              @touchcancel="keyUp('up')"/>
      <rect x="40" y="80" height="20" width="20" fill="red"
            @click="keyPressed('down')"
            @mousedown="keyDown('down')"
            @mouseup="keyUp('down')"
            @mouseleave="keyUp('down')"
              @touchstart="keyDown('down')"
              @touchcancel="keyUp('down')"/>
      <rect x="80" y="40" height="20" width="20" fill="red"
            @click="keyPressed('right')"
            @mousedown="keyDown('right')"
            @mouseup="keyUp('right')"
            @mouseleave="keyUp('right')"
              @touchstart="keyDown('right')"
              @touchcancel="keyUp('right')"/>
      <circle cx="50" cy="50" r="10" fill="red"
              @click="keyPressed('enter')"
              @mousedown="keyDown('enter')"
              @mouseup="keyUp('enter')"
              @mouseleave="keyUp('enter')"
              @touchstart="keyDown('enter')"
              @touchcancel="keyUp('enter')"/>
    </g>
  </svg>
</template>

<script>
  import ModuleSVG from "../../mixins/ModuleSVG";

  export default {
    mixins: [ModuleSVG],
  }
</script>
