<template>
  <v-layout row wrap>


    <v-flex xs12>
      <v-text-field v-model="text" single-line :placeholder="options.placeholder"/>
    </v-flex>

    <v-flex xs12>
      <v-btn color="primary" @click="send">Submit</v-btn>
    </v-flex>

  </v-layout>
</template>

<script>
  import Module from '../../mixins/Module'

  export default {
    mixins: [Module], // ignore module transform, used for methods

    data() {
      return {
        text: '',
      }
    },

    methods: {
      send() {
        window.navigator.vibrate(20);
        this.$player.send('controllerInput', {action: 'keyDown', key: key})
      }
    },
  }
</script>
