<template>
  <v-layout row wrap>

    <v-flex v-for="text in options.buttons" :key="text"
            :xs6="options.buttons.length > 5"
            :xs12="options.buttons.length <= 5">

      <v-btn color="primary"
             @click="keyPressed(text)"
             @mousedown="keyDown(text)"
             @mouseup="keyUp(text)"
             @mouseleave="keyUp(text)"
             @touchstart="keyDown(text)"
             @touchcancel="keyUp(text)">
        {{ text | upper }}
      </v-btn>
    </v-flex>

  </v-layout>
</template>

<script>
  import Module from '../../mixins/Module'

  export default {
    mixins: [Module], // ignore module transform, used for methods
  }
</script>
