<template>
  <svg ref="svg" width="100%" height="100%"
       @mousedown="mouseStart" @mousemove="mouseMove" @mouseup="reset" @mouseleave="reset"
       @touchstart="touchStart" @touchmove="touchMove" @touchend="reset">
    <g ref="module" :transform="moduleTransform">

      <circle cx="50" cy="50" r="40" fill="grey"/>
      <circle :cx="x" :cy="y" r="10" fill="white"/>

    </g>
  </svg>
</template>

<script>
  import _ from 'lodash'
  import ModuleSVG from "../../mixins/ModuleSVG";

  export default {
    mixins: [ModuleSVG],

    data() {
      return {
        x: 50,
        y: 50,

        mouseDown: false,
        touchDown: false,
      }
    },

    created() {
      this.send = _.throttle(this.send, 30, {leading: true, trailing: true})
    },

    methods: {
      mouseStart() {
        this.mouseDown = true;
      },

      touchStart() {
        this.mouseDown = false;
        this.touchDown = true;
      },

      mouseMove(event) {
        if (this.mouseDown && !this.touchDown) {
          this.move(event.clientX, event.clientY)
        }
      },

      touchMove(event) {
        if (this.touchDown && event.touches.length > 0) {
          this.move(event.targetTouches[0].clientX, event.touches[0].clientY)
        }
      },

      move(x, y) {
        const point = this.$refs.svg.createSVGPoint();
        point.x = x;
        point.y = y;
        const pointT = point.matrixTransform(this.$refs.module.getScreenCTM().inverse());

        let x_ = pointT.x;
        let y_ = pointT.y;

        // I wish this was cleaner
        // here we clamp the point to the outer circle with radius 40
        const offsetX = x_ - 50;
        const offsetY = y_ - 50;
        const h = Math.sqrt(offsetX * offsetX + offsetY * offsetY);

        if (h > 40) {
          x_ = offsetX * (40 / h) + 50;
          y_ = offsetY * (40 / h) + 50;
        }

        this.x = x_;
        this.y = y_;

        // recalculate offset from the center and take the scalar between [-1,1]
        const movement = {
          x: (x_ - 50) / 40,
          y: -((y_ - 50) / 40),
        };

        this.send(movement)
      },

      reset(event) {
        this.x = 50;
        this.y = 50;

        this.mouseDown = false;
        this.touchDown = false;

        this.send({x: 0, y: 0})
      },

      send(point){
        this.$player.send('controllerInput', {action: 'keyDown', key: 'stick2d', point: point})
      }
    },
  }
</script>
