<template>
  <v-container ref="layout" grid-list-xl text-xs-center fill-height fluid>
    <v-layout :row="!controller.vertical" :column="controller.vertical" wrap align-content-center fill-height>

      <v-flex v-for="(module, i) in controller.modules" :key="i"
              :x12="controller.modules.length===1"
              :xs6="controller.modules.length===2"
              :xs4="controller.modules.length===3"
              fill-height>
        <v-component :is="module.module" :options="module.options"/>
      </v-flex>

    </v-layout>
  </v-container>
</template>
<style>
  svg, svg * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
</style>
<script>
  import {mapState, mapMutations} from 'vuex'
  import DPadOne from '../components/modules/DPadOne.vue'
  import DPadTwo from '../components/modules/DPadTwo.vue'
  import ButtonFour from '../components/modules/ButtonFour.vue'
  import TextButton from '../components/modules/TextButton.vue'
  import ThumbStick from '../components/modules/ThumbStick.vue'

  export default {
    components: {
      DPadOne,
      DPadTwo,
      ButtonFour,
      TextButton,
      ThumbStick,
    },

    data() {
      return {
        horizontal: undefined,
      }
    },

    created() {
      if (!this.group.id) {
        this.$router.push({name: 'groupStart'})
      }
    },

    mounted() {
      new ResizeObserver(() => this.resizeModules).observe(this.$refs.layout);
      this.$nextTick(() => this.resizeModules());

      if (this.$refs.layout) {
        // this.$refs.layout.requestFullscreen();
      }
    },

    beforeDestroy() {
      this.setGroup({});
      this.$player.disconnect();
    },

    computed: {
      ...mapState(['controller', 'group']),
    },

    watch: {
      controller() {
        this.resizeModules()
      },
    },

    methods: {
      ...mapMutations(['setGroup']),

      resizeModules() {
        this.$emit('resize-modules');
      },
    },
  }
</script>
