<template>
  <v-container grid-list-xl fluid>

    <h2>2 Players</h2>
    <v-divider/>
    <v-layout row wrap align-content-center>

      <v-flex v-for="game in games" :key="game.title" xs6 md3 lg2>
        <GameTile :game="game"/>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import {GAMES} from "../Constants";
  import GameTile from "../components/GameTile.vue";

  export default {
    components: {
      GameTile,
    },

    computed: {
      ...mapGetters(['loggedIn', 'characterList']),

      games() {
        return GAMES;
      }
    },

    methods: {
      ...mapActions(['authenticate']),
      start() {
        this.$router.push({name: 'groupStart'})
      }
    },
  }
</script>
