<template>
  <v-layout row wrap align-content-center>

    <v-flex v-for="(game, i) in games" :key="i" ref="flex" md4 lg3>
      <GameTile ref="games" :game="game" :color="activeIndex === i ? 'indigo' : 'grey darken-3'"/>
    </v-flex>

  </v-layout>
</template>
<script>
  import {mapGetters, mapActions} from 'vuex'
  import {GAMES} from "../Constants";
  import GameTile from "../components/GameTile.vue";

  export default {
    components: {
      GameTile
    },

    data() {
      return {
        activeIndex: 0,
      }
    },

    mounted() {
      this.$host.messageHandler = this.inputHandler;
    },

    beforeDestroy() {
      this.$host.messageHandler = undefined
    },

    computed: {
      ...mapGetters([]),

      games() {
        return GAMES
      },
    },

    methods: {
      ...mapActions([]),

      inputHandler(player, message) {
        if (message.event === 'controllerInput' && message.data.action === 'keyUp') {
          if (message.data.key === 'enter') {
            this.$refs.games[this.activeIndex].click()
          } else {
            this.navigateGrid(message.data.key)
          }
        }
      },

      /**
       * Navigate through the list of games
       * adapted from https://stackoverflow.com/a/49090306
       */
      navigateGrid(direction) {
        const activeIndex = this.activeIndex;
        const gridElements = this.$refs.flex;

        // setup parameters
        const gridNum = gridElements.length;
        const baseOffset = gridElements[0].offsetTop;
        const breakIndex = gridElements.findIndex(item => item.offsetTop > baseOffset);
        const numPerRow = (breakIndex === -1 ? gridNum : breakIndex);

        // set bounds
        const isTopRow = activeIndex <= numPerRow - 1;
        const isBottomRow = activeIndex >= gridNum - numPerRow;
        const isLeftColumn = activeIndex % numPerRow === 0;
        const isRightColumn = activeIndex % numPerRow === numPerRow - 1 || activeIndex === gridNum - 1;

        // set new active index
        if (direction === 'up' && !isTopRow) {
          this.activeIndex = activeIndex - numPerRow
        } else if (direction === 'down' && !isBottomRow) {
          this.activeIndex = activeIndex + numPerRow
        } else if (direction === 'left' && !isLeftColumn) {
          this.activeIndex = activeIndex - 1
        } else if (direction === 'right' && !isRightColumn) {
          this.activeIndex = activeIndex + 1
        }
      },
    },
  }
</script>
