<template>
  <v-container grid-list-xl text-xs-center fill-height>
    <v-layout row wrap align-content-center>
      <v-flex xs12 sm6>
        <v-card height="300" @click="create">

          <v-layout row wrap align-content-center fill-height>
            <v-flex xs12>
              <h2 class="display-2">Create Group</h2>
            </v-flex>

            <v-flex xs12>
              <v-icon x-large>add_circle_outline</v-icon>
            </v-flex>

            <v-flex xs8 offset-xs2>
              <v-alert :value="true" type="info">
                Create the group on the device on which you want to host the game.
              </v-alert>
            </v-flex>
          </v-layout>

        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card height="300" @click="joinDialog = true">

          <v-layout row wrap align-content-center fill-height>
            <v-flex xs12>
              <h2 class="display-2">Join Group</h2>
            </v-flex>
            <v-flex xs12>
              <v-icon x-large>people</v-icon>
            </v-flex>
          </v-layout>

        </v-card>
      </v-flex>
    </v-layout>

    <v-dialog v-model="joinDialog" max-width="300px">
      <v-card>
        <v-card-title class="title">Join Group</v-card-title>
        <v-card-text>
          <v-text-field v-model="group" prefix="#" single-line type="number" min="0" max="9999"/>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn color="primary" flat @click.stop="join">Join</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  import {mapGetters, mapActions, mapMutations} from 'vuex'
  import {AXIOS} from '../Constants'

  export default {
    data() {
      return {
        joinDialog: undefined,
        group: '',
      }
    },

    created() {
      // clear group if set
      this.setGroup({});
    },

    computed: {
      ...mapGetters([]),
    },

    methods: {
      ...mapMutations(['setGroup']),
      ...mapActions(['hostGroup']),

      create() {
        AXIOS.post('/api/groups/').then(response => {
          let groupId = response.data.name;
          this.hostGroup(groupId)
              .then(() => this.$router.push({name: 'groupGameSelect', params: {group: groupId}}))
              .catch() // set snackbar
        })
      },

      join() {
        this.$router.push({name: 'groupJoin', params: {group: this.group}})
      },
    },
  }
</script>
