<template>
  <v-container grid-list-xl text-xs-center>
    <v-layout row wrap class="my-5">

      <v-flex xs12>
        <h3 class="title">#{{ $route.params.group }}</h3>
      </v-flex>

      <v-flex xs12>
        <v-btn-toggle v-model="color">
          <v-btn v-for="c in colors" :key="c" :color="c" :value="c" class="black--text">{{ c }}</v-btn>
        </v-btn-toggle>
      </v-flex>

      <v-flex xs12 md4 offset-md4>
        <v-text-field v-model="name" label="Player name"/>
      </v-flex>

      <v-flex xs12>
        <v-btn color="primary" :disabled="!name || !color" @click="join">join</v-btn>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'

  export default {

    data() {
      return {
        host: false,

        // player settings
        color: undefined,
        name: undefined,

        // host settings
        password: undefined,

        colors: [
          'red', // #F44336
//          'pink', // #E91E63
          'purple', // #9C27B0
//          'deep-purple', // #673AB7
          'indigo', // #3F51B5
//          'blue', // #2196F3
          'light-blue', // #03A9F4
//          'cyan', // #00BCD4
          'teal', // #009688
//          'green', // #4CAF50
          'light-green', // #8BC34A
//          'lime', // #CDDC39
          'yellow', // #FFEB3B
//          'amber', // #FFC107
          'orange', // #FF9800
//          'deep-orange', // #FF5722
        ],
      }
    },

    computed: {
      ...mapGetters([]),
    },

    methods: {
      ...mapActions(['joinGroup']),

      join() {
        this.joinGroup({groupId: this.$route.params.group, name: this.name, color: this.color})
            .then((playerSettings) => {
              this.$player.send('playerReady', playerSettings);
              this.$router.push({name: 'controller'})
            }).catch(console.error);
      },
    },
  }
</script>
