<template>
  <v-container class="pa-0" grid-list-xl text-xs-center fill-height fluid>
    <v-layout ref="layout" row wrap fill-height>

      <v-flex class="pa-5" xs12 :md9="!inGame" fill-height>
        <keep-alive include="Play">
          <router-view/>
        </keep-alive>
      </v-flex>

      <v-flex class="pa-0" v-if="!inGame" xs12 md3 fill-height>
        <Players/>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import {mapState, mapGetters, mapActions, mapMutations} from 'vuex'
  import Players from '../components/Players.vue'

  export default {
    components: {
      Players,
    },

    created() {
      if (!this.group.id || !this.group.isHost) {
        this.$router.push({name: 'groupStart'})
      }
    },

    mounted() {
      console.log(this.$refs.layout);
      if (this.$refs.layout) {
        // this.$refs.layout.requestFullscreen()
      }
    },

    destroyed() {
      this.setGroup({});
      this.$host.disconnect();
    },

    computed: {
      ...mapState(['group', 'controller']),
      ...mapGetters(['joinUrl']),

      inGame() {
        return this.$route.name === 'play'
      }
    },

    methods: {
      ...mapMutations(['setGroup']),
    },
  }
</script>
