<template>

  <iframe ref="game" width="100%" height="100%" :src="src"></iframe>
</template>
<script>
  import {mapState} from 'vuex'

  export default {
    name: 'Play',

    data() {
      return {
        initializing: true,
        statusMode: 'hidden',

      }
    },


    computed: {
      ...mapState(['group']),

      src() {
        return `/static/games/${this.$route.params.game}/build.html?group=${this.group.id}`
      },
    },
  }
</script>
